---
import Image from "astro/components/Image.astro";
const { feature, tag, description, cta, illustration } = Astro.props.feature;
---

<div class='feature'>
  <div class='feature__img'>
    <img src={illustration} alt={feature}/>
    <span class='pill-background'></span>
  </div>

  <h3 class='feature__title'>{feature}</h3>
  <h4 class='feature__tag'>{tag}</h4>
  <p class='feature__description'>{description}</p>
  {cta && <button class='btn-primary'>{cta}</button>}
</div>

<style lang='scss' is:global>

</style>
